/* Blue variables */
$theme-color: #66d9ef;
$text-color: #f8f8f2;
$text-color-secondary: #cfcfc2;
$text-grey: #cfcfc2;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #272822;
$heart: #fb866a;
